<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">
	<select id="listAll" resultType="com.example.spring02.model.board.dto.BoardDTO">
		select bno, title, b.regdate, viewcnt, name, show
		from board b, member m <include refid="search" /> order by bno desc, regdate desc
	</select>
	
	<insert id="insert">
		insert into board (bno, title, content, writer) values ( (select nvl(max(bno)+1,1) from board), #{title}, #{content}, #{writer})
	</insert>
	
	<select id="view" resultType="com.example.spring02.model.board.dto.BoardDTO">
		select bno, title, b.regdate, content, viewcnt, name, writer from board b, member m where b.writer = m.userid and bno=#{bno}
	</select>
	
	<update id="increaseViewcnt">
		update board set viewcnt=viewcnt+1 where bno=#{bno}
	</update>
	
	<update id="updateArticle">
		update board set title=#{title}, content=#{content} where bno=#{bno}
	</update>
	
	<delete id="deleteArticle">
		delete from board where bno=#{bno}
	</delete>
	<!-- #변수 - 따옴표를 처리(스트링 붙이고 숫자는 빼고)
	$변수 - 따옴표를 무시 -->
	<sql id="search">
		<choose>
			<when test="search_option == 'all'">
				where b.writer = m.userid and ( name like '%' || #{keyword} || '%'
												or content like '%' || #{keyword} || '%'
												or title like '%' || #{keyword} || '%' )
			</when>
			<otherwise>
				where b.writer = m.userid and ${search_option} like '%' || #{keyword} || '%'
			</otherwise>
		</choose>
	</sql>
</mapper>














